* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#headline-banner {
	background-image: url('./images/young\ man\ in\ forest.jpeg');
	height: 910px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	opacity: 1;
	/* margin-bottom: 4em; */
}
#hero-title {
	position: relative;
	top: 15em;
	align-items: center;
}
.top-buttons {
	display: flex;
	justify-content: center;
	margin-right: 5em;
	padding: 2em;
}
#join-community {
	justify-self: auto;
	color: white;
	background-color: rgb(30, 172, 124);
	margin: 2em;
	padding: 5px;
	border-radius: 5px;
}
#login-button {
	color: white;
	background-color: rgba(247, 191, 70, 0.968);
	margin: 2em;
	padding: 5px;
	border-radius: 5px;
}
#donate-button {
	background-color: rgba(233, 12, 12, 0.959);
	margin: 2em;
	padding: 5px;
	border-radius: 5px;
	color: white;
}
#hero-title h1 {
	color: white;
}
.red {
	color: rgba(233, 12, 12, 0.959);
}
.green {
	color: rgb(30, 172, 124);
}
.orange {
	color: rgba(247, 191, 70, 0.968);
}

#header {
	display: flex;
	justify-content: space-around;
	/* position: fixed; */
	width: 100%;
	/* top: 0; */
}
#nav-link-container {
	margin-left: 3em;	
	display: flex;
	justify-content: left;

}

#nav-bar {
	display: flex;
	padding-top: 2.5em;
	padding-left: 2em;
	background-color: white;
	height: 8.6em;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
<<<<<<< HEAD
	justify-content: space-around;
=======
	justify-content: space-between;
>>>>>>> 2064722dc2608688bf5a5fd91f3ab74e912ed6c9
}
.logo {
	background-image: url(./images/BB\ Logo.jpg);
	height: 150px;
	width: 300px;
	position: relative;
	top: -3.5em;
}
#nav-bar h1 {
	font-size: 32px;
	padding-right: 10em;
}
/* #nav-bar button {
	align-items: center;
	justify-items: center;
} */
.nav-link {
	text-decoration: none;
	font-size: 16px;
	justify-content: space-between;
	margin-left: 3em;
	margin-right: 3em;
}
.nav-link #site-title {
	display: flex;
	padding-left: 25px;
	height: 50%;
	width: 100%;
	text-align: center;
}
#donate-button {
	background-color: rgba(204, 38, 38, 0.959);
	height: 35px;
	margin-bottom: 1em;
	border-radius: 5px;
	color: white;
	border: none;
}
/* a {
	float: right;
} */
.top-buttons {
	padding-top: 3em;
}
#headline-banner {
	height: 40em;
}
#Our-Work {
	margin: 3em;
}
#Our-Work h1 {
	margin: 1.5em 1em;
}
#Our-Work p {
	line-height: 2;
	color: rgba(0, 0, 0, 0.6);
	font-size: 20px;
	line-height: 2.5;
	margin: 2em;
}
.our-work-title {
	color: white;
	display: flex;
	justify-content: center;
}
.our-work-title h1 {
	font-size: 82px;
	margin-top: 250px;
	letter-spacing: normal;
}
.Divider {
	height: 14em;
	width: 100%;
	background-color: rgb(30, 172, 124);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
}
.Divider-Text {
	color: white;
	font-size: 32px;
	margin-left: 50px;
	font-style: italic;
}
.our-projects-title h3 {
	font-size: 28;
	margin-bottom: 25px;
}
<<<<<<< HEAD
.work-photo {
	height: 910px;
	width: 100%;
}
#our-work-volunteer-button {
	color: white;
	background-color: rgba(247, 191, 70, 0.968);
	margin: 2em;
	padding: 5px;
	border-radius: 5px;
}
#contact-us-button {
	color: rgba(233, 12, 12, 0.959);
	background-color: none;
	margin: 2em;
	padding: 5px;
	border-radius: 5px;
=======
.work-photo{
	
	height: 800px;
	width: 1400px;
}
#our-work-volunteer-button{
    
        color: white;
        background-color: rgba(247, 191, 70, 0.968);
        margin: 2em;
        padding: 5px;
        border-radius: 5px;
    
}
#contact-us-button{
    
        color: rgba(233, 12, 12, 0.959);
        background-color: none;
        margin: 2em;
        padding: 5px;
        border-radius: 5px;
		
		
    
>>>>>>> 2064722dc2608688bf5a5fd91f3ab74e912ed6c9
}
