* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#headline-banner {
	background-image: url('./images/youngpeopleatlannai.jpeg' );
	height: 800px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.794);
	opacity: 1;
	/* margin-bottom: 4em; */
}
#hero-title {
	position: relative;
	top: 7.5em;
	align-items: center;
}
.top-buttons {
	background-color: transparent;
	border: none;
	position: relative;
	left: -0.75em;
	top: -2.5em;
}
#join-community {
	justify-self: auto;
	color: white;
	background-color: transparent;
	border: rgba(247, 191, 70, 0.968) solid 1px;
	margin: 2em;
	padding: 5px;
	/* border-radius: 5px; */
}
#login-button {
	color: rgba(204, 38, 38, 0.959);
	background-color: transparent;
	border: rgb(30, 172, 124) solid 1px;
	margin: 2em;
	padding: 5px;
	/* border-radius: 5px; */
}
#donate-button {
	background-color: rgba(204, 38, 38, 0.959);
	height: 35px;
	margin-bottom: 1em;
	border-radius: 5px;
	margin-left: 5rem;
	color: white;
	border: none;
}
.anchor {
	display: block;
	position: relative;
	top: -250px;
	visibility: hidden;
}
#island-directory {
	color: white;
	background-color: rgba(204, 38, 38, 0.959);
	margin: 2em;
	padding: 1em;
	border-radius: 5px;
	border: rgba(204, 38, 38, 0.959) solid 1px;
	text-decoration: none;
}
.Home-Page-Body-Buttons {
	display: flex;
	width: 100%;
}
#vendorSignUpForm {
	height: 8px;
	width: 15px;
	background-color: rgb(30, 172, 124);
	color: white;
	text-decoration: none;
	margin: 2em;
	height: fit-content;
	padding: 1em;
	border-radius: 5px;
}
#hero-title h1 {
	color: white;
}
.red {
	color: rgba(233, 12, 12, 0.959);
}
.green {
	color: rgb(30, 172, 124);
}
.orange {
	color: rgba(247, 191, 70, 0.968);
}

#header {
	display: flex;
	justify-content: space-around;
	/* position: fixed; */
	width: 100%;
	/* top: 0; */
}
.logo {
	background-image: url(./images/BB\ Logo.jpg);
	height: 150px;
	width: 300px;
	position: relative;
	top: -3.5em;
	justify-self: start;
}
/* .nav-left {
	display: flex;
} */
#nav-bar {
	display: flex;
	padding-top: 2.5em;
	padding-left: 2em;
	background-color: white;
	height: 8.6em;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	justify-content: space-between;
}
#nav-link-container {
	margin-left: 3em;
	display: flex;
	justify-content: space-around;
}
.nav-link {
	text-decoration: none;
	font-size: 16px;
	/* margin-right:6em; */
}

.nav-link #site-title {
	/* display: flex; */
	/* padding-left: 25px; */
	height: 50%;
	width: 100%;
}

/* #nav-bar a {
	justify-content: space-between;
} */

#donate-button {
	margin-right: 2em;
	float: right;
	height: 35px;
	margin-top: 0.5em;
	border-radius: 5px;
}
.top-buttons {
	padding-top: 3em;
}

#hero-title h1 {
	font-size: 30px;
	text-shadow: 2px;
}
#hero-title h3 {
	color: aliceblue;
	font-size: 32px;
	font-style: italic;
}
#hero-title {
	/* float: right; */
	padding-left: 5em;
	padding-bottom: 4em;
}

#hero-title button {
	margin: 20px;
	background-color: none;
	border: solid 1px (233, 12, 12, 0.959);
	padding: 8px;
	border-radius: 3px;
	margin: 10px;
}
.Home-Page-Body-Buttons {
	display: flex;
	position: relative;
	top: -12em;
	margin-left: 2.5em;
}
p {
	line-height: 2;
	color: rgba(0, 0, 0, 0.75);
	font-size: 20px;
	line-height: 2.5;
	font-weight: 100;
	margin-top: 1em;
}
/* #About-Us-Wrapper{
	margin-top: 35em;
	margin-bottom: 35em;
} */
.contact-image {
	height: 55em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('images/recycleposterman.jpeg');
}
.divider {
	height: 14em;
	width: 100%;
	background-color: rgba(204, 38, 38, 0.959);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin-top: -7.65em;
}
#About-Us {
	height: 960 px;
	margin-left: 2em;
	display: block;

}
/* .About-Us-Wrapper {
	display: flex;
} */
.About-us {
	display: block;
	color: rgb(30, 172, 124);
	font-size: 62px;
}
#About-Us-Wrapper{
	display: block;
	scroll-margin-top: 8em;

}
#About-Us-Wrapper h2 {
	display: block;
	justify-content: center;
	align-content: center;
	margin-top: 3em;
}
#About-Us-Wrapper h1 {
	/* margin: 5px; */
	display: block;

	justify-items: center;
}

#image-div {
	background-image: url('./images/ruinstjohn.jpeg');
	width: auto;
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 4em;
	margin-bottom: 5em;
}
.contact-container {
	display: flex;
	justify-content: space-between;
}
#Contact {
	display: block;
	margin-left: 2em;
	margin-bottom: 1em 0;
	width: 100%;
	scroll-margin-top: 8em;

}
#Contact h1 {
	font-size: 42px;
}
#Contact-Us p {
	font-size: 18px;
	font-weight: 100;
}

#Contact p {
	font-weight: 600;
}
