* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.red {
	color: rgba(204, 38, 38, 0.959);
}
.green {
	color: rgb(30, 172, 124);
}
.orange {
	color: rgba(247, 191, 70, 0.968);
}
#signupWrapper {
	display: flex;
	flex-direction: column;
	background-image: url("images/mountain\ view.jpeg");
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;

}
#nav-bar {
	display: flex;
	justify-content: space-between;
	padding-top: 2em;
	padding-right: 2em;
	padding-left: 2em;
	background-color: white;
	height: 5em;
	width: 100%;
	position: sticky;
	top: 0;
}

.leftSide {
	/* width: 50%; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.nav-link {
	text-decoration: none;
	padding-left: 55px;
}